/* Search.css */
.search-engine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.search-engine input {
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-engine input::placeholder {
  color: #ccc;
}

.search-engine input:hover {
  background-color: #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-engine button {
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-engine button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
